 # Disable directory listing
Options -Indexes

# Pass Authorization header to PHP
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1


# Deny access to sensitive files
<Files "config.php">
    Deny from all
</Files>

<Files "db.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "auth.php">
    Order Allow,Deny
    Deny from all
</Files>

# Restrict access to PHP files only (optional)
#<FilesMatch "\.php$">
#    Require all granted
#</FilesMatch>

# Block access to everything else (like .env, backups, etc.)
<FilesMatch "\.(env|ini|log|sh|bak|sql|json|yml|yaml)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Protect the .htaccess file itself
<Files ".htaccess">
    Order Allow,Deny
    Deny from all
</Files>
